sudo: required

language: cpp

notifications:
  email: false

env:
  - ONE_DEVICE=true CODEGEN="latest" BUILDTYPE="debug"
  - ONE_DEVICE=false CODEGEN="latest" BUILDTYPE="release"
  - ONE_DEVICE=false CODEGEN="none" BUILDTYPE="debug"
  - ONE_DEVICE=false CODEGEN="1-0-20" BUILDTYPE="debug"
  - ONE_DEVICE=false CODEGEN="1-0-40" BUILDTYPE="debug"
  - ONE_DEVICE=false CODEGEN="latest" BUILDTYPE="debug"

compiler:
  - gcc
  # - clang

arch:
  packages:
    - meson
    - ninja
    - mesa
    - vulkan-headers
    - vulkan-icd-loader
  script:
    - "meson build --buildtype $BUILDTYPE -Dtests=true -Dcodegen=$CODEGEN -Done_device=$ONE_DEVICE"
    - "ninja -C build"

script:
  - "curl -s https://raw.githubusercontent.com/mikkeloscar/arch-travis/master/arch-travis.sh | bash"
